<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="A5S">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00013359 6.672E-05 0.031672"
        rpy="0 0 0" />
      <mass
        value="0.42272" />
      <inertia
        ixx="0.00019"
        ixy="0.00000"
        ixz="0.00000"
        iyy="0.00019"
        iyz="0.00000"
        izz="0.00020" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.00503954826793295 -0.00774070193988266 0.0208969420816373"
        rpy="0 0 0" />
      <mass
        value="0.0968040209395549" />
      <inertia
        ixx="0.00011"
        ixy="-0.00001"
        ixz="0.00001"
        iyy="0.00005"
        iyz="-0.00001"
        izz="0.00010" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.564705882352941 0.564705882352941 0.564705882352941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0565"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.050770611851633 -0.000307502550891422 0.0109031174570787"
        rpy="0 0 0" />
      <mass
        value="0.882016949148399" />
      <inertia
        ixx="0.00068"
        ixy="0.00000"
        ixz="-0.00092"
        iyy="0.00463"
        iyz="0.00000"
        izz="0.00454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.02 0 0.047"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0817803379922626 -0.000659690341437718 3.80441290877276E-05"
        rpy="0 0 0" />
      <mass
        value="0.887837614634739" />
      <inertia
        ixx="0.00042"
        ixy="0.00009"
        ixz="0.00000"
        iyy="0.00696"
        iyz="0.00000"
        izz="0.00693" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.21 -3E-05 0.06"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0421074239683916 0.00420106485375121 -0.0350192219762367"
        rpy="0 0 0" />
      <mass
        value="0.118174840291438" />
      <inertia
        ixx="0.00019"
        ixy="-0.00002"
        ixz="-0.00009"
        iyy="0.00024"
        iyz="0.00002"
        izz="0.00015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.189 -0.0001 0"
      rpy="-3.1416 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00358074490473213 -1.54277384272232E-05 0.0533252279190407"
        rpy="0 0 0" />
      <mass
        value="0.636013398718114" />
      <inertia
        ixx="0.00084"
        ixy="0.00000"
        ixz="0.00007"
        iyy="0.00082"
        iyz="0.00000"
        izz="0.00026" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.07025 -5E-05 -0.0845"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.0548428859313633 2.60845782833845E-05 -0.000213553766113872"
        rpy="0 0 0" />
      <mass
        value="0.101" />
      <inertia
        ixx="0.00033"
        ixy="0.00000"
        ixz="0.00000"
        iyy="0.00046"
        iyz="0.00004"
        izz="0.00047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A5S/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.02895 0 0.0845"
      rpy="3.1416 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-10"
      upper="10"
      effort="100"
      velocity="1000" />
  </joint>
</robot>
